div{
  background-color: #444;
  color: rgb(255, 255, 255);
  padding: 40px;
  font-family: 고딕;
  text-align: center;
}

h1{
  color:white;
  background-color: #82c7ff;
  padding: 10px;
  font-family: 궁서;
}
